footer {
    width:100%;
    background:rgba(255, 74, 74, 1);
    min-height: 200px;
    font-size: 15px;
    margin: 0 auto;
    color: black;
    font-family: 'Sansita Swashed', cursive;
    padding-bottom: 15px;
    padding-top: 15px;
}
.footer{
    width:92.5%;
    margin: 0 auto;
}
.subtitle{
    text-decoration: underline;
    color:white;
}
h2{
    font-weight: bold;
    font-family: 'Sansita Swashed', cursive;
    font-size: 35px;
}