<footer class="row middle-xs">
    <div class="footer ">
        <div class="row middle-xs">
            <div class="col-sm-3 col-xs-12 middle-xs">
                <h2 class = "center-xs ">Stevia</h2>
            </div>
            <div class="col-sm-3 col-xs-12 middle-xs">
                <p class="center-xs subtitle">Consultas y pedidos</p>
                <p class="center-xs">Servicio al cliente: (01)512-6222</p>
                <p class="center-xs">Compras Online: 936105037 - 922833558</p>
                <p class="center-xs">Venta Mayorista: 9886584427</p>
            </div>
            <div class="col-sm-3 col-xs-12 middle-xs">
                <p class="center-xs subtitle">Atención</p>
                <p class="center-xs">Horario de atención y reparto</p>
                <p class="center-xs">Lunes a sábado de 8:00 AM a 6:00 PM </p>
            </div>
            <div class="col-sm-3 col-xs-12 middle-xs">
                <p class="center-xs subtitle">Medios de pago</p>
                <div class ="row around-xs">
                    <img src="../../assets/icons/visa-mastercard.png" alt="visa-mastercard" width="125">
                    <img src="../../assets/icons/paypal.png" alt="paypal" width="125">
                </div>
            </div>
        </div>
    </div>
</footer>