<div class="landing-content pt-5 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-7 col-md-8 col-lg-8 col-xl-8 landing-text-container">
                <h1 class="Stevia">Stevia</h1>
                <h2 class="h2-subtitle color-subtitle">¿Ya has probado nuestros pastelitos, chocotejas y chocotones hechos con estevia?
                </h2>
                <a routerLink="/tienda/all" class = "go-shop" mat-raised-button color = "warn">Ir a la tienda</a>
            </div>
            <div class="col-12 col-sm-4 col-md-3 col-lg-4 col-xl-4 pastel-container">
                <div class="img-pastelito-container">
                    <img src="../../../../assets/icons/pastelito.png" alt="Pastelito" class = "img-pastelito">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="phrase-content">
    <div class="container">
        <p class = "phrase-text">Te endulzamos y cuidamos la vida, porque te lo mereces. <br>
        Por eso te engreímos con los mejores postres a base de estevia.
        </p>
    </div>
    <h2 class="h2-subtitle color-subtitle subtitle-phrase-content">No solo somos un postre, somos un estilo de vida</h2>
</div>
<div class="cards-container">
    <div class="card-item1 card crop-image">
        <div class="front">
            <img src="../../../../assets/images/postres/chocotejas/chocoteja_negra.png" alt="">
        </div>
        <div class="back">
            <div class="back-content">
                <img src="../../../../assets/images/postres/chocotejas/chocoteja_negra.png" alt="">
                <div class="overlay">
                    
                </div>
                <div class="middle">
                    <h3 class = "card-section">Postres</h3>
                    <div class = "sm">
                        <a mat-raised-button routerLink="/tienda/postres">Ver sección</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
    <div class="card-item2 card crop-image">
        <div class="front">
            <img src="../../../../assets/images/ropa/polo_blanco.jpg" alt="">
        </div>
        <div class="back">
            <div class="back-content">
                <img src="../../../../assets/images/ropa/polo_blanco.jpg" alt="">
                <div class="overlay">
                    
                </div>
                <div class="middle">
                    <h3 class = "card-section">Ropa</h3>
                    <div class = "sm">
                        <a mat-raised-button routerLink="/tienda/ropa">Ver sección</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="card-item3 card crop-image">
        <div class="front">
            <img src="../../../../assets/images/bebidas/bebida-pina.png" alt="">
        </div>
        <div class="back">
            <div class="back-content">
                <img src="../../../../assets/images/bebidas/bebida-pina.png" alt="">
                <div class="overlay">
                    
                </div>
                <div class="middle">
                    <h3 class = "card-section">Bebidas</h3>
                    <div class = "sm">
                        <a mat-raised-button routerLink="/tienda/bebidas">Ver sección</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="mt-4">
        <div class="crop-image">
            <img src="../../../../assets/icons/calidad.svg" alt="La calidad">
        </div>
        <p class = "mt-4">Productos de calidad</p>
    </div>
    <div class="mt-4">
        <div class="crop-image">
            <img src="../../../../assets/icons/delivery.svg" alt="Delivery a domicilio">
        </div>
        <p class = "mt-4">Delivery a domicilio</p>
    </div>
    <div class="mt-4">
        <div class="crop-image">
            <img src="../../../../assets/icons/pago-seguro.svg" alt="Pago seguro">
        </div>
        <p class = "mt-4">Pago seguro</p>
    </div>
</div>
