<h2 class="title-page mt-4">Un poco sobre nosotros</h2>
<div class="landing-content pb-4">
    <div class="container">
        <div class="row mb-4 mt-4">
            <div class="">
                <h1 class="Stevia mb-4">¿Quienes somos?</h1>
                <p>Somos una pequeña tienda virtual en proceso de crecimiento que se encarga de elaborar productos
                    naturales
                    y saludables en lo posible, aportando las calorias necesarias al darte un pequeño gustito.
                </p>
                <p>Nuestros productos son elaborados a base de estevia,
                    un endulzante natural que es apto para diabeticos, pero debe ser consumido responsablemente</p>
            </div>
            <div class="img-pastelito-container mt-3">
                <img src="../../../../assets/icons/pastelito.png" alt="Pastelito" class="img-pastelito">
            </div>
        </div>
        <div class="row">
            <p>Contamos con una gama de postres, bebidas y prendas basadas en esta maravillosa planta.</p>
            <p>Cada ingrediente de nuestros productos es elaborado por nosotros mismos,
                endulzado con la cantidad necesaria y perfecta de estevia, siendo un producto dulce y no empalagoso.</p>
            <p>En el caso del chocolate molemos el cacao de forma artesanal en tablones de piedra, luego endulzamos con
                estevia.</p>
        </div>
        <!-- <div class="container row mt-4 mb-4">
            <div class="crop-image col-12">
                <img src="../../../../assets/images/cacao.jpg" alt="">
            </div>
            <div class="crop-image col-12 mt-4 mb-4">
                <img src="../../../../assets/images/moler_cacao.jpg" alt="">
            </div>
        </div> -->
        <!-- layla -->
        <div class="container-grid">
            <div class="grid">
                <figure class="effect-layla">
                        <img src="../../../../assets/images/cacao.jpg" alt="getting-cacao"/>
                    <figcaption>
                        <h2> <b>Picture 1</b></h2>
                        <p>El cacao en su estado más fresco.</p>
                    </figcaption>			
                </figure>
                <figure class="effect-layla">
                    <img src="../../../../assets/images/moler_cacao.jpg" alt="production-cacao"/>
                    <figcaption>
                        <h2> <b>Picture 2</b></h2>
                        <p>Preparando el cacao para llevar a producción</p>
                    </figcaption>			
                </figure>
            </div>
        </div>
        
        <div class="row">
            <p>Nuestra historia empieza en las cocinas de nuestras casas, en medio de una crisis de salud, una pandemia
                originada por el virus COVID-19.
            </p>
            <p>Debido a esta situación que requiere el máximo cuidado de nuestra salud para, en caso de contraer el
                virus, poder atravesar la situación como una gripe normal y no saturar los centros de salud.</p>
            <p>Ademas de eso, evitar el contacto con otras personas, por ello creamos nuestra tienda virtual, para así llegar a nuestros clientes evitando las aglomeraciones.</p>
        </div>
    </div>
</div>